/*colors to use
1. dark red - color: #b52f54;
2.white -#f5f5f5;
3. dark grey -#6b6b6b;
*/

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

ol, ul {
  list-style: none;
}

a{
  text-decoration: none;
  color: #6b6b6b;
}

ul li{
  cursor: pointer;
  text-align: center;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}


@media only screen and (min-width: 320px) {
    /* For mobile and tablet: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #6b6b6b;
    
  background-color: #fff;
}

.wrapper {
max-width: 1400px;
margin: 0 auto;
}
/*--------------------
---------------------------Header*/
.header_full{
  background-color: #d2d2d2;
  margin: 0;
  height: 60px;
  vertical-align: middle;
  padding-right: 15px;
}

.header_full .logo img{
  margin-left: 23px;
  margin-top: 8px;
  height: 42px;
  padding: 0;
  float: left;
}

.navigation_full{
  float: left;
  line-height: 56px;
  position: relative;
  left: 13%;
}

.registration{
  margin-left: 10%;
  float: right;
  line-height: 56px;
}

.material-icons{
  float: left;
}

.header_full ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.header_full span{
  margin: 0;
  padding: 0;
  vertical-align: middle;
  margin-top: 18px;
}

.header_full ul li{
  float: left;
  padding: 0;
  width: auto;
}

.header_full ul li a{
  display: block;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 2px;
  font-size: 14px;
  padding-left: 3px;
  text-decoration: none;
  color: #6b6b6b;
  font-weight: bold;
}

.header_full .material-icons{
  color: #f5f5f5;
}

 .header_full ul li{
  padding-left: 10px;
  padding-right: 10px;
}

.active{
  background-color:  #c1c1c1;
}

.header_full ul li:hover { 
    background-color:  #c1c1c1;
}

/*--------------------
---------------------------Header toggle*/
.header_toggle{
  display: none;
}

.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d2d2d2;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:0px;
    text-align:center;
    list-style:none; 
    margin-left:auto;
    margin-right:auto;
}

.menulist {
    width:200px;
}

.logo {
  text-align:left;
  margin:0 auto;
}

.logo img{
  height: 36px;
  margin-left: 70px;
  margin-top: 8px;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:#fff;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:#fff;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:#fff;
  top:-7px;
}

.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none; 
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 20px;
    display: inline-block;
    position:relative;  
    text-align:center;
    color: #fff;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
  height:25px;
  width:25px; 
  position: absolute;
  text-decoration:none;
  top: 10px;
  left: 25px;
  font-size: 36px !important;
  margin-right: 50px;
  z-index:100;
  color:#fff;
  cursor:pointer;
  trainsition:background-position .3s;
}

header .hidden-sm{
  color: #6b6b6b;
  font-weight: bold;
  font-size: 20px;
}

#main { 
    transition: margin-top .4s;
}
/* Content
-----------------------------------------------------------------------------*/
.group_navigation{
  position: relative;
}

.group_navigation .material-icons{
  float: none;
  color: #b52f54;
}
.group_navigation ul li{
  display: inline-block;
  height: 55px;
  width: 90px;
  text-align: center;
  padding: 5px 15px;
  cursor: pointer;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 12px;
  font-weight: bold;
}

.group_navigation ul li:hover{
  background-color: #e1e1e1;
}

/*section*/

.conteiner_name{
  background-color: #b52f54;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  height: 40px;
  color: #f5f5f5;
}
.conteiner_navigations span, .conteiner_name p{
  color: #f5f5f5;
  font-size: 19px;
}
.conteiner_navigations span{
  margin-top: 7px;
}
.material-icons{
  color: #f5f5f5;
}
.btn_navigations{
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  outline: none;
  color:#f5f5f5;
  cursor: pointer;
}
iframe{
  width: 100%;
  height: 640px;
}
/*aside*/
.contacts, .notification{
  border: 1px solid #eee;
  margin-bottom: 20px;
}

.contacts .conteiner_name, .notification .conteiner_name{
 padding: 2% 6%;
}

.aside img{
  vertical-align: middle;
  height: 34px;
  width: 34px;
  float: left;
  margin-right: 25px;
  border-radius: 100%;
}

.option{
  background-color: #ffffff;
  border: none;
  outline: none;
 position: relative;
  height: 40px;
  width: 50%;
  float: left;
   border-bottom: 1px solid #eee;
   cursor: pointer;
}

.option_active{
  border-bottom: 2px solid #b52f54;
}

.option:hover{
  border-bottom: 2px solid #b52f54;
}

.option_person{
  height: 40px;
  background-color: red;
  position: relative;

}

.person{
  padding: 2% 6%;
  height: 50px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.person .name{
  float: right;
  color: #000000;
}

.person button{
  background-color: #ffffff;
  border: 1px solid #eee;
  border-radius: 5px;
}

.email_button{
  color: #000000;
  margin: 4px;
  cursor: pointer;
}
.delete_button{
  margin: 4px;
  cursor: pointer;
  color:  #b52f54;
}

.add-wearer{
  padding: 2% 4%;
  height: 50px;
  cursor: pointer;
  vertical-align: middle;
}

.add-wearer p{
  position: relative;
  top:10px;
  left: 20px;
}

.person_massage{
  padding: 2% 6%;
  border-bottom: 1px solid #eee;
}

.action_time p{
  float: left;
  margin-right: 10px;
}

 .massage{
  color: #000000;
}

.notification .action_time span{
  font-size: 12px;
}

.notification .action_time .lens{
  font-size: 7px;
  color: #6b6b6b;
  position: relative;
  top:8px;
}

.add_title{
  height: 80px;
  border: 2px dashed #eee;
  padding: 6% 34%;
  cursor: pointer;
  vertical-align: middle;
}
.add_title p{
  position: relative;
  top: 4px;
  left: 10px;
}
.add_title span{
  color: #6b6b6b;
}



footer{
  padding: 2% 1%;
}

footer p{
  float: left;
  margin-right: 2%;
}

@media only screen and (max-width: 1024px){
  .header_toggle{display: block;}
  .header_full{display: none;}
  [class*="col-"] {
    float: left;
    padding: 15px;}
  #main{margin-top:70px!important;}
  .contacts .conteiner_name, .row .conteiner_name{
    height: 60px;
    padding: 1% 10px !important;
  }
  .contacts .conteiner_name p, .row .conteiner_name p{
    font-size: 24px;
  }
  .contacts .option, .option_person .option, .notification .option_person{
    height: 60px;
    font-size: 20px;
  }
  .contacts .conteiner_navigations span, .row .map_navigations span, .notification .conteiner_navigations span{
    font-size: 28px;
    margin-left: 20px;
  }
  .row .map_navigations span{
    margin-top: 10px;
  }
  .contacts .person{
    padding: 1%;
    height: 60px;
    line-height: 60px !important;
  }
  .contacts .add-wearer{
    padding: 1% !important;
    padding-left: 23%;
  }
  .contacts .add-wearer p{
    font-size: 20px;
    top: 4px;
  }
  .aside .add_title {
    padding: 2%;
    padding-left: 4%;
  }

  .aside .add_title  span{
    padding: 0;
  }

  .aside .add_title p{
    top: 2px;
    font-size: 20px;
  }
  #see_all{
    text-align: center;
    line-height: 54px;
    font-size: 20px;
  }
  .notification .person_massage{
    padding: 1%;
    height: 60px;
  }
  .contacts .person button span{
    font-size: 34px;
  }

  .contacts .person button{
    margin-right: 10px;
  }

  .aside .contacts .person img, .notification .person_massage .foto_person img{
    margin-left: 10px;
    height: 44px;
    width: 44px;
  }

  .aside .contacts .person p{
    font-size: 20px;
    position: relative;
    top: -5px;
  }
 
}
@media only screen and (min-width: 1025px){
  #main{margin-top: 15px!important;}
}
